name: ci

on:
  push:
    paths-ignore:
    - 'doc/**'
    - 'img/**'
    - 'changelog.md'
    - 'readme.md'
  pull_request:

env:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      actions: write
      contents: write

    steps:
    - name: Checkout current repository
      uses: actions/checkout@v5
      with:
        submodules: true
        fetch-depth: 0

    - name: Checkout xoofx/.github
      uses: actions/checkout@v5
      with:
        repository: 'xoofx/.github'
        path: 'xoofx-github'
        ref: 'main'
        clean: false

    - name: Install Mono
      run: |
        sudo apt-get update
        sudo apt-get install -y mono-complete

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          6.0
          8.0
          9.0

    - name: Build, Test, Pack, Publish
      shell: bash
      run: |
        dotnet tool install -g dotnet-releaser --configfile xoofx-github/.github/workflows/nuget_org_only.config
        dotnet-releaser run --nuget-token "${{secrets.NUGET_TOKEN}}" --github-token "${{secrets.GITHUB_TOKEN}}" --github-token-gist "${{secrets.GITHUB_TOKEN}}" src/dotnet-releaser.toml    